<!--footer start-->

<footer class="footer dark-bg pt-10 sm-pt-8 pos-r" data-bg-img="images/bg/09.png" style="background-size: contain; background-repeat: no-repeat;">
  <div class="contact-media">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="media-icon style-2 list-inline theme-bg">
            <li> <i class="flaticon-paper-plane"></i>
              <span>주소</span>
              <p class="mb-0">서울특별시 강남구 삼성로107길 11-6 101호</p>
            </li>
            <li> <i class="flaticon-phone-call"></i>
              <span>전화</span>
              <a href="tel:01051522253">010-5152-2253 / 010-7363-1008</a>
            </li>
            <li> <i class="flaticon-message"></i>
              <span>이메일</span>
              <a href="mailto:taeyangcheun@naver.com">taeyangcheun@naver.com</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="secondary-footer">
    <div class="container">
      <div class="copyright">
        <div class="row align-items-center">
          <div class="col-md-7">
           <span>Copyright 2018-2026 태양천 그루빙 | All Rights Reserved</span>
          </div>
          <div class="col-md-5 text-md-right sm-mt-3 footer-list">
            <ul class="list-inline">
              <li>사업자등록번호 : 575-59-00157</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--footer end-->


</div>

<!--page wrapper end-->


<!--back-to-top start-->

<div id="scroll-top"><a class="top arrow" href="#top"><i class="fas fa-chevron-up"></i></a></div>

<!--back-to-top end-->


<!-- inject js start -->
{{js}}
<!-- inject js end -->

</body>
</html>
